/* demonstration interact elements */


/* scenario */
.interact-scenario-container {
	border: 15px solid #f0f0f0;
}

#scenario-29-1 {
	background: url('../images/city.jpg') center center no-repeat;
	background-size: cover;
	height: 310px;
}

#scenario-29-2 {
	background: url('../images/lake.jpg') center center no-repeat;
	background-size: cover;
}

#scenario-29-2 ul.nav {
	bottom: auto;
	top: 15px;
}

#scenario-29-2 ul.nav li {
	display: block;
	margin: 0 0 5px 0;
}

#scenario-29-2 .panel {
	left: 80px;
	right: 15px;
	bottom: 15px;
	top: 15px;
}

#scenario-29-3 {
	background: url('../images/office.jpg') center center no-repeat;
	background-size: cover;
	height: 275px;
	border: 12px solid #ddd;
}

#scenario-29-3 ul.nav li {
	margin-right: 0;
	margin-left: 5px;
}

#scenario-29-3 ul.nav li button {
	background-color: #ef7c00;
	transition: all ease 0.5s;
	border-radius: 8px;
}

#scenario-29-3 ul.nav li button:hover {
	background-color: #ed9f60;
}

#scenario-29-3 ul.nav li.active button {
	background-color: #ddd;
}

#scenario-29-3 ul.nav {
	left: auto;
	right: 11px;
}

#scenario-29-3 {
	height: 340px;
}


/* ol reveal */
.int-ol-reveal-container {
	background: url('../images/factory.jpg');
}


/* reveal */

.interact-reveal {
	background: url('../images/person.jpg');
	background-position: center -30px;
}

#grapefruit {
	height: 380px;
}

#grapefruit .btn-1 {
	top: 75px;
	left: 55px;
}

#grapefruit .panel-1 {
	left: 410px;
	bottom: 20px;
}

#int-reveal-29-2 .btn-1 {
	top: 40px;
	left: 70px;
}

#int-reveal-29-2 {
	height: 350px;
}

#int-reveal-29-2 .panel-1 {
	left: 410px;
}

#int-reveal-29-2 .panel-2 {
	top: auto;
	left: 410px;
	bottom: 20px;
}

#int-reveal-29-2 .btn-2 {
	bottom: 50px;
	left: 20px;
}


/* specific scenario styling */



