/* interact ol reveal */

/* base styles for whole element */
.int-ol-reveal-container,
.int-ol-reveal-container * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.int-ol-reveal-container {
	width: 734px;
	margin: 0 0 100px 0;
	border-top: 3px solid $col-tert;
	.banner {
		/* note short hand not used on background property to ease implementation within course */
		background-image: none;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 200px;
	}
	.inner {
		margin-left: 60px;
	}

	/* this needs reworking */
	ol {
		list-style-type: none;
		-webkit-transition: all ease 0.5s;
		transition: all ease 0.5s;
		margin: 0;
		padding: 0;
	}
	ol.fully-open {
		@include border-radius(8px);
		border-bottom: 3px solid $col-tert;	
	}
	li {
		color: #3d3d3d;
		counter-increment: item;
		position: relative;
		overflow: hidden;
		background-color: #f0f0f0;
		padding: 20px;
		border-bottom: 2px solid #ddd;
		p {
			margin: 0 0 20px 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	li:last-child {
		border-bottom: none;
	}
 	li:before {
		position: absolute;
		top: 20px;
		left: 20px;
		box-sizing: border-box;
		margin-right: 10px;
		content: counter(item);
		background: $col-tert;
		border-radius: 100%;
		color: white;
		padding-top: 2px;
		width: 40px;
		height: 40px;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		display: inline-block;
		float: left;
 	}
	button.btn-reveal {
		background: url('../images/arrow-down.png') center center $col-tert no-repeat;
		border: none;
		text-indent: -9999px;
		width: 100%;
		height: 50px;
		display: block;
		cursor: pointer;
		outline: none;
		-webkit-transition: background-color 0.5s ease;
		transition: background-color 0.5s ease;
		@include border-radius-bottom(8px);
		&:hover {
			background-color: lighten( $col-tert, 10% );
		}
	}
}