/* scenario */

/* base styles for whole element */
.interact-scenario-container,
.interact-scenario-container * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.interact-scenario-container {
	width: 734px;
	height: 300px;
	border: 15px solid #fff;
	margin: 0 0 100px 0;
	position: relative;	
	/* note short hand not used on background property to ease implementation within course */
	background-image: none;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	ul.nav {
		list-style-type: none;
		position: absolute;
		background-color: transparent;
		bottom: 15px;
		left: 15px;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin-right: 5px;
		}
		li button {
			background-color: #00aeef;
			width: 45px;
			height: 45px;
			font-size: 16px;
			font-weight: 600;
			border: none;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			cursor: pointer;
			color: #fff;
			outline: none;
			-webkit-transition: background-color 0.25s ease;
			transition: background-color 0.25s ease;
		}
		li.active button {
			background-color: $col-grey;
		}
		li.back button {
			background: url('../images/back.png') center center no-repeat #00aeef;
			text-indent: -9999px;
		}
		li button:hover {
			background-color: lighten( $col-prim, 20% );
		}
	}
	ol.content {
		list-style-type: none;
	}
	.panel {
		background-color: #fff;
		background-color: rgba(255,255,255,0.9);
		padding: 20px 30px 20px 20px;
		font-size: 16px;
		line-height: 24px;
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		@include border-radius(3px);
		color: #3d3d3d;
		p {
			margin: 0 0 20px 0;
			font-weight: normal;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	a.close {
		background: url('../images/close.png') center center no-repeat;
		display: block;
		width: 15px;
		height: 15px;
		text-indent: -9999px;
		border: none;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		opacity: 0.5;
		-webkit-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		outline: none;
	}
	a.close:hover {
		opacity: 0.2;
	}
}