/* interact reveal */

/* base styles for whole element */
.interact-reveal,
.interact-reveal * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.interact-reveal {
	width: 734px;
	height: 300px;
	border: 20px solid #f0f0f0;	
	margin: 0 0 100px 0;
	background-image: none;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	.panel {
		/* note short hand not used on background property to ease implementation within course */
		background-color: #fff;
		background-color: rgba(255,255,255,0.9);
		padding: 20px 30px 20px 20px;
		font-size: 16px;
		line-height: 24px;
		position: absolute;
		left: 20px;
		right: 20px;
		top: 20px;
		@include border-radius(3px);
		color: #3d3d3d;
		font-weight: 600;
	}
	button {
		z-index: 100;
		background: url('../images/speech-marks.png') center center no-repeat;
		text-indent: -9999px;
		position: absolute;
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		width: 100px;
		height: 100px;
		/*display: none;*/
		border: none;
		background-color: $col-prim;
		@include border-radius(50%);
		outline: none;
		cursor: pointer;
		-webkit-transition: background-color 0.3s ease;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: lighten( $col-prim, 20% );
		}
	}
	button.active {
		background-color: #ddd;
	}
	a.close {
		display: block;
		background: url('../images/close.png') center center no-repeat;
		width: 15px;
		height: 15px;
		text-indent: -9999px;
		border: none;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		opacity: 0.5;
		-webkit-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		outline: none;
	}
	a.close:hover {
		opacity: 0.2;
	}
	p {
		margin: 0 0 20px 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}