/* variables */
$col-prim: #00aeef;
$col-sec: #fff;
$col-tert: #FF464B; 
$col-grey: #f0f0f0;

/* mixins */
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-radius-bottom($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin box-shadow() {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
}


/* general */

@import '_int_ol_reveal';
@import '_int_reveal';
@import '_int_scenario';
@import '_svg_demo';






