/* general */
* {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
	background-color: #f0f0f0;
}

.container {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0px 20px 100px 20px;
}

nav ul {
	list-style-type: none;
	margin-bottom: 50px;
}

nav li {
	display: inline;
	margin-right: 30px;
}

h1 {
	margin-bottom: 30px;
}

p {
	margin: 10px 0 20px 0;
}